body {
    font-family: Arial;
    background: #f2f2f2;
}

.box {
    width: 350px;
    margin: 80px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: #4f46e5;
    color: #fff;
    border: none;
    cursor: pointer;
}

.progress {
    width: 100%;
    background: #ddd;
    height: 18px;
    border-radius: 10px;
    margin-top: 10px;
}

#bar {
    height: 18px;
    width: 0%;
    background: #16a34a;
    border-radius: 10px;
}

.error {
    color: red;
}